<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all">Template for HTML email (simple)</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
<p th:text="${targetEmail}">Test</p>
<p>Dear Managers,</p>
<br></br>
    New <a th:href="${ticketUrl}">ticket</a> is waiting for your approval.
    
    </body>
</html>
