<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all">Template for HTML email (simple)</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
<p th:text="${targetEmail}">Test</p>
<p>Dear Users,</p>
<br></br>
    Ticket <a th:href="${ticketUrl}" th:text="${ticketId}">#<ticket num></a> was cancelled by the Engineer.
  
    </body>
</html>
